
  #instructions{
    position:absolute;
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }

.video_container{
  position: relative;
  width: 30%;
  left: 35%;
  right: 35%;
  padding: 1em 1.5em;
  margin: 2em 0;
  background-color:#f4f9ff;/*背景色*/
  border:5px solid #FFB96E;/*枠線*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
  color:#000000;/*文字色*/
}
@media( max-width:566px){
  .video_container{
    position: relative;
    width: 96%;
    left: 2%;
    right: 2%;
    padding: 1em 1.5em;
    margin: 2em 0;
    background-color:#f4f9ff;/*背景色*/
    border:5px solid #FFB96E;/*枠線*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
    color:#000000;/*文字色*/
  }
}
@media(min-width: 567px) and ( max-width:992px){
  .video_container{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    padding: 1em 1.5em;
    margin: 2em 0;
    background-color:#f4f9ff;/*背景色*/
    border:5px solid #FFB96E;/*枠線*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);/*影*/
    color:#000000;/*文字色*/
  }
}

  .video_container:before{
    position: relative;
    content: "";
    display: block;
    padding-top: 100%;
  }

  .transparent-img {
    opacity:0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }

  .start {
    text-align: center;
    position: relative;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 3rem;
    font-weight: 3rem;
    line-height: 3rem;
    font-family: "DotGothic16";
  }
  .second_step_start {
    text-align: center;
    position: relative;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 3rem;
    font-weight: 3rem;
    line-height: 3rem;
    font-family: "DotGothic16";
  }
  .label {
    text-align: center;
    margin: auto;
    font-weight: 3rem;
    line-height: 3rem;

  }
  .webcambox.decoration {
    position: absolute;
    text-align: center;
  }

  .concentration-line {
    width: 100%;
    height: 100vw;
    background: repeating-conic-gradient(transparent 0 5deg, #4169e1 5.2deg 10deg, transparent 10.2deg 15deg);
    mask-image: radial-gradient(transparent 0% 2%, #FFF 30%);
    transform: rotate(0deg);
    animation: rotate-anim 20s linear infinite;
  }

  .mocchiri {
    animation: mocchiri 3s infinite;
    font-size: 4rem;
    color: #FFFFFF;
    font-family: "DotGothic16";
  }
  @keyframes mocchiri {
    0% {
        transform: scale(1, 0.8);
    }
    20% {
        transform: scale(0.8, 1.1);
    }
    95% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 0.8);
    }
  }
  .reflection::after {
    content: "";
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    top: -180px;
    left: 0;
    background-color: #FFF;
    opacity: 0;
    transform: rotate(45deg);
    animation: reflect 2s ease-in-out infinite;
    -webkit-transform: rotate(45deg);
    -webkit-animation: reflect 2s ease-in-out infinite;
  }
  @keyframes reflect {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
  }
  @-webkit-keyframes reflect {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
  }

  .purupuru2 {
    animation: purupuru2 0.1s infinite;
    font-size: 3rem;
    color: #FFFFFF;
    font-family: "DotGothic16";
  }
  @keyframes purupuru2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.98, 0.95)
    }
  }

  .yureru-s {
    animation: yureru-s 1s infinite;
    font-size: 1rem;
    color: #111111;
    font-family: "DotGothic16";
  }

  @keyframes yureru-s {
    0% {
        transform: translate(2px, 0px);
    }
    5% {
        transform: translate(-2px, 0px);
    }
    10% {
        transform: translate(2px, 0px);
    }
    15% {
        transform: translate(-2px, 0px);
    }
    20% {
        transform: translate(2px, 0px);
    }
    25% {
        transform: translate(-2px, 0px);
    }
    30% {
        transform: translate(0px, 0px);
    }
  }

.second_step_box{
  text-align: center;
  margin: auto;
  color:#111111;
  font-size:1rem;
  font-family: "DotGothic16";
}


.restart{
  text-align: center;
  position: relative;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 3rem;
  font-weight: 3rem;
  line-height: 3rem;
  font-family: "DotGothic16";
}

.result_output_container {
  padding: 1em 1em;
  background-color:#ffffe0;/*背景色*/
  border: dotted 6px #C0C0C0;/*線*/
  color:#000000;/*文字色*/
}

// ローディングアニメーション
$colors:
  hsla(337, 84, 48, 0.75)
  hsla(160, 50, 48, 0.75)
  hsla(190, 61, 65, 0.75)
  hsla( 41, 82, 52, 0.75);
$size: 2.5em;
$thickness: 0.5em;

// Calculated variables.
$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;

.loader {
  position: relative;
  width: $size;
  height: $size;
  transform: rotate(165deg);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: $thickness;
    height: $thickness;
    border-radius: $thickness / 2;
    transform: translate(-50%, -50%);
  }

  &:before {
    animation: before 2s infinite;
  }

  &:after {
    animation: after 2s infinite;
  }
}

@keyframes before {
  0% {
    width: $thickness;
    box-shadow:
      $lat (-$offset) nth($colors, 1),
      (-$lat) $offset nth($colors, 3);
  }
  35% {
    width: $size;
    box-shadow:
      0 (-$offset) nth($colors, 1),
      0   $offset  nth($colors, 3);
  }
  70% {
    width: $thickness;
    box-shadow:
      (-$lat) (-$offset) nth($colors, 1),
      $lat $offset nth($colors, 3);
  }
  100% {
    box-shadow:
      $lat (-$offset) nth($colors, 1),
      (-$lat) $offset nth($colors, 3);
  }
}

@keyframes after {
  0% {
    height: $thickness;
    box-shadow:
      $offset $lat nth($colors, 2),
      (-$offset) (-$lat) nth($colors, 4);
  }
  35% {
    height: $size;
    box-shadow:
        $offset  0 nth($colors, 2),
      (-$offset) 0 nth($colors, 4);
  }
  70% {
    height: $thickness;
    box-shadow:
      $offset (-$lat) nth($colors, 2),
      (-$offset) $lat nth($colors, 4);
  }
  100% {
    box-shadow:
      $offset $lat nth($colors, 2),
      (-$offset) (-$lat) nth($colors, 4);
  }
}



/**
 * Attempt to center the whole thing!
 */

html,
body {
  height: 100%;
}

.loader {
  position: absolute;
  top: calc(50% - #{$size / 2});
  left: calc(50% - #{$size / 2});
}
